.App {
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: row;
  justify-content: center;

  text-align: center;
}

@media screen and (max-width: 767px) {
  .App {
    flex-direction: column;
  }
}
